@import '../../sass/abstracts/mixins';

.wrapper {
  
}
.card {
  display: flex;
  position:relative;

  flex-direction: column;
  align-items: center;

  height: 100%;
  width: 10rem;
  margin-right: 1rem;

  @include respond(tablet) {
    width: 15rem;
  }

  @include respond(pc) {
    width: 25rem;
  }

  &__image {
    position: relative;

    &--img {
      padding: 0.4rem;
      width: 100%;
      border-radius: 8px;
    }
  }

}

.fav{
  color:red;
  position: absolute;
  left: 0;
  bottom:0;
  }