@import '../../sass/abstracts/mixins';

.interval_12 {
  @include rateGradient(12.5);
}
.interval_25 {
  @include rateGradient(25);
}
.interval_37 {
  @include rateGradient(37.5);
}
.interval_50 {
  @include rateGradient(70);
}
.interval_62 {
  @include rateGradient(62.5);
}
.interval_75 {
  @include rateGradient(75);
}
.interval_87 {
  @include rateGradient(87.5);
}
.interval_97 {
  @include rateGradient(97.5);
}
.interval_100 {
  @include rateGradient(100);
}

.rate_container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;

  bottom: 0.6rem;
  right: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.5px solid var(--color-grey-dark-1);

  //@include rateGradient(12);

  @include respond(tablet) {
    bottom: 0.6rem;
    right: 1.5rem;
    width: 4rem;
    height: 4rem;
    border: 0.5px solid var(--color-grey-dark-1);
  }

  @include respond(pc) {
    bottom: 0.6rem;
    right: 1.5rem;
    width: 6rem;
    height: 6rem;
    border: 0.5px solid var(--color-grey-dark-1);
  }

  &__value {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-grey-light-1);
    border-radius: 200px;
    border: 0.5px solid var(--color-grey-dark-1);
    color: var(--color-grey-dark-1);
    font-weight: 600;

    width: 2.1rem;
    height: 2.1rem;

    @include respond(tablet) {
      width: 3.4rem;
      height: 3.4rem;
    }

    @include respond(pc) {
      width: 5.4rem;
      height: 5.4rem;
    }

    &--percentage {
      
      font-size: 0.55em;
      @include respond(tablet) {
        font-size: 1em;
      }
      @include respond(pc) {
        font-size: 2em;
      }
    }

    &--sign {
      
      font-size: 0.3em;
      
      @include respond(tablet) {
        font-size: 0.5em;
      }
      @include respond(pc) {
        font-size: 1em;
      }
    }
  }
}
