@import '../../sass/abstracts/mixins';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 2rem;
  width: 100%;
  z-index: 100;

  @include respond(tablet) {
    height: 2.2rem;
  }
  @include respond(pc) {
    height: 3rem;
  }

  display: flex;

  font-size: 1.5em;
  flex: 0 0 100%;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-grey-dark-1);
  box-shadow: 0 0.5rem 1rem rgba(black, 0.5);

  &__menu {
    margin-left: 1rem;
    height: 1.5rem;
    width: 1.5rem;
    fill: var(--color-grey-light-4);
    @include respond(tablet) {
      height: 2rem;
      width: 2rem;
    }
    @include respond(pc) {
      height: 2.2rem;
      width: 2.2rem;
    }
  }

  &__home {
   
    border: none;
    text-decoration: none;
    padding: 0 0.5rem;
    font-family: 'Ms Madi', cursive;
    border-radius: 50px;
    font-weight: 600;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    @include principalGradient();
    //justify-self: start;
    font-size: 1.3em;

    @include respond(tablet) {
      font-size: 1.5em;
    }
    @include respond(pc) {
      font-size: 1.8em;
    }
  }

  &__search {
    --size: 1.5rem;
    --size_tablet: 1.7rem;
    --size_pc: 1.9rem;

    display: flex;
    border: none;
    border-radius: 500px;
    position: relative;
    height: var(--size);
    width: var(--size);
    transition: width 300ms ease-in-out;
    overflow: hidden;

    @include respond(tablet) {
      height: var(--size_tablet);
      width: var(--size_tablet);
    }

    @include respond(pc) {
      height: var(--size_pc);
      width: var(--size_pc);
    }

    &--input {
      flex-grow: 1;
      border: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      font-size: 0.5em;
      padding-left: 0.5rem;
      width: 85%;

      @include respond(tablet) {
        font-size: 0.7em;
      }

      @include respond(pc) {
        font-size: 1em;
      }

      &:focus {
        outline: 0;
        background: var(--color-grey-light-1);
      }
    }

    &--submit {
      font-size: var(--size);
      border: none;
      background: transparent;
      border-radius: 50%;
      transition: background 150ms ease-in-out;
      color: var(--color-grey-light-4);
      margin-left: auto;

      @include respond(tablet) {
        font-size: var(--size_tablet);
      }

      @include respond(pc) {
        font-size: var(--size_pc);
      }
    }

    &:focus-within {
      width: 55%;
      background: var(--color-grey-light-1);

      @include respond(tablet) {
        width: 40%;
      }

      @include respond(pc) {
        width: 35%;
      }

      .navbar__search--input {
        opacity: 1;
      }

      .navbar__search--submit {
        background: var(--color-grey-light-1);
        color: var(--color-grey-dark-1);
      }
    }
  }

  &__user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.6em;
    color: var(--color-grey-light-4);

    @include respond(tablet) {
      font-size: 0.8em;
    }

    @include respond(pc) {
      font-size: 1em;
    }

    &--name {
      padding: 0 1rem;
    }
  }
}
